node_modules
dist
build
coverage
.git
.railway
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log
*.tsbuildinfo
.vscode
.idea
firebase-adminsdk-*.json
google-services.json
GoogleService-Info.plist
